[defaults]
inventory = inventory/nas.yml
host_key_checking = false
collections_paths = .collections
library = ~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules:plugins/modules
connection_plugins = plugins/connection
